*{
  margin: 0;
  padding: 0;
}
ul{
 display: flex;
 justify-content: flex-end;
}
ul li{
  list-style-type: none;
  padding: 10px;
  color: #95999c;
  margin: 5px;
  border-radius: 10px;
  transition-property:color ;
  transition-duration:.5s ;
  transition-timing-function: ease-in;
  transition-delay: .1s;
}
header{
  background-color: #384046;
}
ul li:hover{
  background-color: #283034;
  color: rgb(255, 255, 255);
  
}